<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EgitimKampiEfTravelDBEntities" connectionString="metadata=&quot;res://*/ADO.NET Entity.Model1.csdl|res://*/ADO.NET Entity.Model1.ssdl|res://*/ADO.NET Entity.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GHP8JEF;initial catalog=EgitimKampiEfTravelDB;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>